:root {
    --background-color: #D9D9D9;
    --text-color: #353535;
    --footer-background-color: #284B63;
    --footer-text-color: #353535;
  }

.dark-mode {
  --background-color: #353535;
  --text-color: #D9D9D9;
  --footer-background-color: #284B63;
  --footer-text-color: #353535;
}
  