/* Styles for the header */

/* add bold to current page in header */
.current {
    font-weight: bold;
}

header {
    display: flex; /* Use flexbox for a responsive layout */
    justify-content: left; /* Add some space between elements */
    align-items: center; /* Align items vertically */
    background-color: #3c6e71;
    color: #353535;
    text-align: center;
    font-size: 15px;
    padding: 0 20px;
}

/* dark mode button */
.toggle-dark-mode {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: 0; /* Remove the default button border */
    cursor: pointer; /* Change the cursor to a pointer when hovering over the button */
    padding: 0; /* Remove padding */
    margin-left: 20%; 
}
.toggle-dark-mode img {
    background-color: transparent;
    width: 30px;
    height: 30px;
}
  